body {
  margin: 0;
  font-family: Georgia, serif;
  font-size: 15px;
}

/* impostiamo l'header */
header {
  height: 17vh;
}
#div-header {
  height: 68%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.2em;
}
#div2-header {
  height: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(245, 202, 44);
  background-color: #fefbf1;
  color: #004d4d;
}
#logo {
  width: 25vh;
  height: auto;
}

/* impostiamo altezza main e larghezza main e centriamo gli oggetti dentro esso*/
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 1.6em;
}
/* parte del main con gli elementi allineati al centro del div */
.div-main-center {
  width: 50%;
  display: flex;
  margin-top: 3em;
  flex-direction: column;
  align-items: center;
}
#video-focaccia {
  width: 100%;
  border-radius: 15px;
}
.div-main-center span {
  margin: 1em;
  color: rgb(204, 197, 197);
}
.display-flex {
  display: flex;
}
/* parte del main con gli elementi allineati a sinistra nel div */
.div-main-alignleft {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1em;
}
.div-main-alignleft h3 {
  border-left: 1px solid rgb(245, 202, 44);
  padding-left: 1em;
  color: red;
  margin: 0;
  font-weight: normal;
}
.color-link {
  color: #0e9595;
}
.div-main-alignleft h2 {
  font-weight: normal;
  border-bottom: 1px solid #aaffff;
  width: 100%;
  padding-bottom: 1em;
}

li {
  padding: 0.5em 0;
}
ol {
  margin-top: 0;
  margin-bottom: 0.5em;
}
ol li {
  font-weight: bold;
}
ol + p {
  margin: 0;
  padding-left: 1.5em;
}
#first_h2 {
  margin-top: 3em;
}
/* con una classe ..... contenete i due h2 non mi prendeva la modifica sulla pagina, ho dovuto fare due id */
#second_h2 {
  margin-top: 0;
}
#ricetta {
  margin-bottom: 0.5em;
  font-weight: bold;
}
#ricetta_2 {
  margin-bottom: 0.5em;
  font-weight: bold;
}
ul {
  margin-top: 0;
}
